nav{
    background: rgba(0,0, 0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 10%;
    transform: translate(-50%);
    bottom: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color:  rgba(255, 255, 255, 0.6);
    font-size: 1.1rem;
}

nav a:hover{
    background: rgba(0,0, 0,0.3);
}

nav a.active{
    background: #1f1f38;
    color: #fff;  
}