.link{
    display: flex;
    align-items: cover;
    cursor: pointer;
    border-radius: 30px;
    height: 40px;
    padding-top: 10%;
    padding-left: 10%;
}
  .link:hover{
    background-color: #e8f5fe;
    color: #50b7f5;
    transition: color 100ms ease-out;
  }
  .link > h2{
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
  }